---
import Section from '../components/Section.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="CONTACT">
  <Section title="予約・問い合わせフォーム" isCenter={true}>
    <ol class="mx-4 list-decimal">
      <li>ご予約、その他のお問い合わせは、こちらのフォームより送信してください。</li>
      <li>メール到着後、数日中にご連絡させていただきます。</li>
    </ol>
  </Section>
</BaseLayout>
