---
import { postsContent } from '../api/posts'
import BlogList from '../components/BlogList.astro'
import Section from '../components/Section.astro'
import Title from '../components/Title.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../config'
import BaseLayout from '../layouts/BaseLayout.astro'
import type { BlogProps } from '../utils/types'

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./news/*.{md,mdx}')).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
) as BlogProps[]
---

<BaseLayout title={SITE_DESCRIPTION} carouselContent={postsContent}>
  <Section index={1}>
    <div>
      <Title>{SITE_TITLE}</Title>
      <p>東京メトロ 東西線　神楽坂駅から徒歩40歩。駅近くでゲストも安心・便利</p>
      <p>演劇、ダンス、音楽、結婚式の2次会や各種イベント、発表会、個展など多様にご利用いただけます！</p>

      <Title>アクセス</Title>
      <p>最寄り駅：東京メトロ東西線“神楽坂駅”下車</p>
      <p>
        ｢神楽坂方面改札（1a出口）｣の階段を上がり、向かって右方向に15ｍ程歩くと路地があります。 正面角1階が「日本料理
        清久仁」様の白いビルの地下一階がメルシアークです。
      </p>
      <p>オレンジ色のテントがかかっているドアが入口です。</p>
      ※駐車場はございません。お車にてご来場の際は近隣のパーキングをご利用ください
    </div>
  </Section>
  <Section index={2}>
    <div class="flex flex-col items-center justify-around gap-4 md:flex-row">
      <BlogList limit={4} posts={posts} />
      <div class="w-fit">
        <a
          class="twitter-timeline"
          data-width="300"
          data-height="500"
          href="https://twitter.com/g_tsuki_shizuku?ref_src=twsrc%5Etfw">Tweets by g_tsuki_shizuku</a
        >
      </div>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </Section>
  <Section index={3}>
    <div>
      <iframe
        title="Shimokitazawa access"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12966.639571714728!2d139.68402143567454!3d35.66075024966956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f36b9a296133%3A0x66c43a9f356d5e5d!2sShimo-Kitazawa%20Station!5e0!3m2!1sen!2sjp!4v1675686490648!5m2!1sen!2sjp"
        width="100%"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <p>
      Have fun! If you get stuck, remember to <a href="https://docs.astro.build/">read the docs</a> or <a
        href="https://astro.build/chat">join us on Discord</a
      > to ask questions.
    </p>
    <p>
      Looking for a blog template with a bit more personality? Check out <a
        href="https://github.com/Charca/astro-blog-template">astro-blog-template</a
      > by <a href="diego_injpCharca">Maxi Ferreira</a>.
    </p>
  </Section>
</BaseLayout>

<script>
  declare global {
    interface Window {
      netlifyIdentity: any
    }
  }
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on('init', (user: any) => {
      if (!user) {
        window.netlifyIdentity.on('login', () => {
          document.location.href = '/admin/'
        })
      }
    })
  }
</script>
