---
import MemberCard from '../components/MemberCard'
import Modal from '../components/Modal'
import Section from '../components/Section.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import type { MemberType } from '../utils/types'

const members = (await Astro.glob('./members/*.{md,mdx}')).sort(
  (a, b) => a.frontmatter.order.valueOf() - b.frontmatter.order.valueOf()
) as MemberType[]

console.log('astro', members)
---

<BaseLayout title="メンバー">
  <Section>
    <MemberCard members={members} client:load />
    <Modal client:load />
  </Section>
</BaseLayout>
