---
import Section from '../components/Section.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Schedule">
  <Section>
    <p class="mb-7 text-center">
      7月、11月、12月のご予約はお早めにお申込みください。
    </p>
    <div>
      <!-- <iframe
      src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23E4C441&ctz=Asia%2FTokyo&showNav=1&showPrint=0&src=ZGllZ28udnBkYUBnbWFpbC5jb20&src=MmpnZnJ2dDFqMDVlNTJ1NnJ1bWtvYTA2MjRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=N2I1MWNhNzU2NjhjNjc3OTFmZTIxYzJmYzEzMzQyMWZjMDNjYjEyOWVmYzZmNmE0MzIwNzJhOGJkMzAwZDBjNUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Y2xhc3Nyb29tMTE1NDU4MTgwNDUwODY2MTQ3NDM4QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=c21xc25jaHN0YzM3MDZlMnNyMjdiOG9icDhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=MDVsYXF0dW5uM2xkcDRvZDVibmxwaWppdmdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=ZHNjZzczZnZyMHFqY241YWU5MmE5ZHM5OG9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=c2V1bGhsMWpndXZmY21hdW9hdjc4MG1odDRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=c3ByaDJuN25oMW82Z21zYnQ2ajdqN2tibmdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=aTY1OXQwMGtlaGZjbWJhdDdiOGNoOXJ2ZGdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=ZjQ4dWwyNW0zYjNjdDFjczdobDF1MjhmNGNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=amEuamFwYW5lc2UjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%233F51B5&color=%23A79B8E&color=%23EF6C00&color=%23E4C441&color=%23616161&color=%23B39DDB&color=%23939eaf&color=%23795548&color=%23D81B60&color=%23F09300&color=%23AD1457&color=%237986CB"
      style="border:solid 1px #777"
      width="550"
      height="600"
      frameborder="0"
      scrolling="no"></iframe> -->
      <iframe
        src="https://embed.styledcalendar.com/#y4yrTM1XYYuobXhCMmWE"
        title="Styled Calendar"
        class="styled-calendar-container"
        style="width: 100%; border: none;"
        data-cy="calendar-embed-iframe"></iframe>
      <script
        async
        type="module"
        src="https://embed.styledcalendar.com/assets/parent-window.js"
      ></script>
    </div>
  </Section>
</BaseLayout>
