---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, '')
const activeColor = isActive && 'lg:bg-main-light lg:dark:bg-main-darker'
---

<a
  href={href}
  class={`${activeColor} transition-all group
  md:hover:bg-main-lighter md:dark:hover:bg-main-dark h-full px-6 flex items-center`}
  {...props}
>
  <slot />
  <!-- <span
    class="absolute -bottom-2 left-0 hidden h-1 w-0 bg-black transition-all group-hover:w-full group-hover:bg-red-600 md:block lg:hidden"
  ></span> -->
</a>
