---
export interface ISection {
  index?: number
}
const { index = 1 } = Astro.props as ISection
const indexColor = index % 2 === 0 ? 'bg-white dark:bg-back-dark' : 'bg-main-light dark:bg-main-darker'
---

<div class={`w-full ${indexColor}`}>
  <div class="m-auto flex max-w-layout flex-col gap-6 p-5 pt-10 pb-14">
    <slot />
  </div>
</div>
