---
export type Props = {
  sub?: string
}

const { sub } = Astro.props as Props
---

<div class="my-6">
  <p>
    <span class="mr-4 text-3xl font-bold md:text-4xl">
      <slot />
    </span>
    <span class="font-light text-main-dark dark:text-main-light">{sub}</span>
  </p>
</div>
